html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.field-validation-error {
    color: red;
}

.hidden{
    display:none !important;
}

.btn-primary {
    color: #fff;
    background-color: #21262c;
    border-color: #21262c;
}

.btn-primary:hover {
    color: #fff;
    background-color: #00254C;
    border-color: #2653d4;
}

/* Cor escura param ícones*/
.fa-fw{
    color: #21262c;
}

/* Cor clara param ícones bdo menu*/
.fa{
    color: #fff;
}

/*Cor vermelha param ítens defs exclusão*/
.fa-ban {
    color: red;
}

.fa-trash-can {
    color: red
}

.btn-warning {
    color: #00254C;
    background-color: #84E1F9;
    border-color: #84E1F9;
}

    .btn-warning:hover {
        color: #fff;
        background-color: #1081A0;
        border-color: #1081A0;
    }