@model LOGHouseSystem.Models.Product

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Criar Novo Produto</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div class="row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-md-6 form-group">
                    <label asp-for="Code" class="control-label"></label>
                    <input asp-for="Code" class="form-control" required />
                    <span asp-validation-for="Code" class="text-danger"></span>
                </div>
                <div class="col-md-6  form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" required />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="col-md-6 form-group">
                    <label asp-for="Ean" class="control-label"></label>
                    <input asp-for="Ean" class="form-control" required/>
                    <span asp-validation-for="Ean" class="text-danger"></span>
                </div>
                <div class="col-md-6" style="padding-top:30px;">
                    <input type="submit" value="Salvar" class="btn btn-primary" />
                    <a class="btn btn-secondary" asp-action="IndexClient">Voltar</a>
                </div>
            </div>
            
            
        </form>
    </div>
</div>

<div>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
