@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LOGHouseSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet" />
</head>
<body>
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        @await Component.InvokeAsync("LayoutControl")

        </nav>
        <!-- End of Topbar -->
        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Page Heading -->
            @RenderBody()

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->
    <!-- Footer -->
    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright &copy; LogHouse Integration 2022</span>
            </div>
        </div>
    </footer>
    <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jQuery-Mask-Plugin-master/src/jquery.mask.js"></script>
    <script src="~/js/sb-admin-2.min.js"></script>
    <script src='~/lib/fontawesome/js/all.js'></script>
    <script src="~/js/sweetalert2.min.js"></script>

    <script>

        //Mostra menssagem de sucesso e erro
        $(document).ready(function () {

            const messageSuccess = "@Html.Raw(TempData["SuccessMessage"])";
            const messageError = "@Html.Raw(TempData["ErrorMessage"])";

            if (messageSuccess != "") {
                Swal.fire({ title: 'Sucesso!', text: messageSuccess, icon: 'success', confirmButtonText: 'Continuar' })
            }

            if (messageError != "") {
                Swal.fire({ title: 'Erro!', text: messageError, icon: 'error', confirmButtonText: 'Continuar' })
            }
        });

    </script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
