@{
    ViewData["Title"] = "Autorização";
    Layout = "~/Views/Shared/_LayoutClear.cshtml";
}

<div class="text-center">
    <div class="row">
        <div class="offset-md-4 col-md-4 align-self-center" style="margin-top: 50px;">
            <div class="card shadow mb-4">

                <div class="card-body">
                    <div class="text-center">
                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 15rem;" src="img/logo.svg" alt="...">
                    </div>
                    <p style="text-align:center">Sua loja foi configurada com sucesso para integração com a LogHouse</p>

                </div>
            </div>
        </div>
    </div>


</div>
