@model LOGHouseSystem.ViewModels.ForgotPasswordViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@using (Html.BeginForm("PasswordRedefinitionByEmail", "Login", FormMethod.Post, new { id = "LoginForm", @class = "login-form" }))
{
    <h5 class="text-center">Redefinir senha</h5>
    <div class="user">
        <div class="form-group">
            <label for="Email">Email:</label>
            <input asp-for="Email" type="email" class="form-control form-control-user"
               id="Email" placeholder="Digite o email do usuário" />
            @Html.ValidationMessageFor(x => x.Email)
        </div>

        <div class="form-group">
            <label for="ConfirmEmail">Confirmar Email:</label>
            <input asp-for="ConfirmEmail" type="text" class="form-control form-control-user"
               id="ConfirmEmail" placeholder="Confirme o email do usuário" />
            @Html.ValidationMessageFor(x => x.ConfirmEmail)
        </div>


        @if (ViewBag != null)
        {
            <div class="text-center">
                <p style="background: rgba(255, 255, 255, 0.52);padding: 0px 5px;border-radius: 20px;text-transform: uppercase;font-size: 11px;color: red;font-weight: bold">@ViewBag.LoginError@Html.Raw(@TempData["ThanksMessage"])</p>
            </div>
        }

        <div class="loading-spinner" id="loading-spinner">
            <button class="btn btn-light btn-user btn-block" type="button">
                <i class="fa-solid fa-spinner fa-spin"></i>
            </button>
        </div>
        <button class="btn btn-primary btn-user btn-block" type="submit" id="submit-button"> Enviar </button><br>
    </div>
}
<div class="text-center d-flex justify-content-center">
    <a asp-action="Index" class="small mx-2">Fazer login</a>
</div>


@section Scripts {
    <script>
        $("#loading-spinner").hide();

        $("#LoginForm").submit(() => {
            $("#submit-button").hide();
            $("#loading-spinner").show();
        })
    </script>
}